{% load static %}
<div class="restaurant-card">

    <img src="{{restaurant.get_logo}}"> 
    <div class="restaurant-info">
        <h3>{{restaurant.name}}</h3>
        <p>Address: {{restaurant.address}}, {{restaurant.city}}</p>
        <p>Rating: {{restaurant.rating}}</p>
        <p>Cuisine: 
            {% for t in restaurant.catagory.all %}
                <a href="/cuisine/{{t}}"><span  class="cuisine-button">{{t}}</span></a>
            {% endfor %}
        </p>
    </div>
    <div class="restaurant-actions">
        <a href="/restaurant/{{restaurant.id}}"><button class="more-info">More Info</button></a>
        <a href="/NotImplemented"><button class="book-table">Book a Table</button></a>
    </div>
</div>