{% load static %}
{% if forloop.first %}
<style>
    .review-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffffff;
        border: 1px solid #04635e;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .review-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .review-title{
        margin: 0px;
        font-weight: bold;
        color: #8c1f28;
        text-decoration:none;
    }

    .review-title:hover{
        text-decoration: underline;
    }

    .review-date {
        font-size: 0.9em;
        color: #6c757d;
        margin: 0px;

    }

    .review-content {
        margin: 0px;

        color: #333;
        line-height: 1.6;
    }

    .review-rating {
        margin: 0px;

        display: inline-block;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: #04635e;
        color: white;
        font-size: 0.9em;
    }


    @media (max-width: 768px) {
        .review-card {
            padding: 10px;
        }

        .review-title {
            font-size: 1rem;
        }

        .review-content {
            font-size: 0.9rem;
        }
    }
</style>
{% endif %}

<div class="review-card">
    {% if "account" in request.path %}
        <a href="{% url "restaurant" name=review.restaurant.uuid%}" class="review-title">{{ review.restaurant }}</a>
    {% else %}
        <a href="{% url "accounts" uuid=review.user.uuid%}" class="review-title">{{ review.user }}</a>

    {%endif %}

    <p class="review-date">{{ review.created_at }}</p>
    <p class="review-content">{{ review.review_text }}</p>
    <span class="review-rating">Rating: {{ review.rating_score }}/10</span>
</div>