<style>
    
    .search-bar {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-bar input {
        width: 70%;
        padding: 10px;
        border: 1px solid #04635e; /* Softer Teal Green */
        border-radius: 4px;
    }

    .search-bar button {
        padding: 10px 20px;
        border: none;
        background-color: #8c1f28; /* Primary Red */
        color: white;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
    }

    .search-bar button:hover {
        background-color: #d92f2f; /* Softer Bright Red */
    }
</style>

<div class="search-bar">
    <input type="text" placeholder="Search for restaurants...">
    <button type="submit">Search</button>
</div>
