{% extends "layout.html" %}
{% block head %}
{% load static %}

<script src="{% static 'js/cards.js' %}"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock head %}
{% block style %}
    .details-container {
        max-width: 800px;
        margin: 20px auto 160px;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.8s ease-out;
        width: 90%; /* Adjust for mobile */
    }
    .maps-button {
        cursor: pointer;
        width:calc(100%/2 - 10px);
    }

    .details-container img {
        width: 80%; /* Scaled for smaller screens */
        height: auto;
        border-radius: 8px;
        margin: 0 auto 20px;
        display: block;
    }

    .details-container h2 {
        color: #8c1f28;
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.5rem; /* Adjusted for smaller screens */
        animation: slideInLeft 0.5s ease-out;
    }

    .details-container h3 {
        color: #04635e;
        margin: 5px 0;
        font-size: 1.1rem; /* Adjusted for readability */
    }

    .details-container h3 a {
        color: #8c1f28;
        text-decoration: none;
    }

    .details-container h3 a:hover {
        text-decoration: underline;
    }

    .cuisine-button {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px 5px 0 0;
        background-color: #e8f5f3;
        color: #04635e;
        border: 1px solid #04635e;
        border-radius: 4px;
        text-decoration: none;
        font-size: 0.9em;
        animation: fadeIn 1s ease-in;
    }

    .cuisine-button:hover {
        background-color: #04635e;
        color: white;
    }

    .reviews-section {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid #ddd;
    }

    .map-container {
        margin-top: 30px;
        text-align: center;
        height: 300px;
    }

    #map {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        z-index: 0;
    }
    .custom-textarea{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .custom-input,
    .custom-select,
    .custom-textarea {
        resize: none;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        background-color: #fff;
        transition: border-color 0.2s;
    }

    .custom-input:focus,
    .custom-select:focus,
    .custom-textarea:focus {
        border-color: #0077ff;
        outline: none;
    }

    .sub-button {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #0077ff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .sub-button:hover {
        background-color: #005bb5;
    }


    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @media (max-width: 768px) {
        

        
        .details-container {
            padding: 15px;
        }

        .details-container img {
            width: 90%; /* Further adjust for tablets */
        }

        .details-container h2 {
            font-size: 1.4rem;
        }

        .details-container h3 {
            font-size: 1rem;
        }
    }

    @media (max-width: 480px) {
        .details-container {
            padding: 10px;
        }
        .custom-input,
        .custom-select,
        .custom-textarea {
            width: 100%;
            font-size: 14px;
        }
        .details-container img {
            width: 100%;
        }

        .details-container h2 {
            font-size: 1.2rem;
        }

        .details-container h3 {
            font-size: 0.9rem;
        }

        .cuisine-button {
            font-size: 0.8em;
            padding: 4px 8px;
        }

        .map-container {
            height: 200px;
        }
    }
{% endblock style %}

{% block content %}

<div class="details-container">
    <img src="{{ restaurant.get_logo }}" alt="{{ restaurant.name }} Logo">

    <h2>{{ restaurant.name }}</h2>
    
    <h3>Address: {{ restaurant.address }}</h3>
    <h3>City: {{ restaurant.city }}</h3>
    <h3>Website: <a href="{{ restaurant.website }}" target="_blank">{{ restaurant.website }}</a></h3>
    <h3>Price Level: {{ restaurant.get_price }}</h3>

    <h3>Cuisine:</h3>
        {% for t in restaurant.catagory.all %}
            <a href="/cuisine/{{ t }}" class="cuisine-button">{{ t }}</a>
        {% endfor %}
    <div>
        <h3>More Options:</h3>
        <button class="maps-button cuisine-button" onclick="mapsSelector()">
            Open in Maps
        </button>
        {% if user.is_authenticated %}
            {% if restaurant not in user.favorites.all %}
                <button onclick="add_favorite('{{restaurant.uuid}}')" class="maps-button cuisine-button">Add to Favorites</button>
            {% else %}
                <button onclick="remove_favorite('{{restaurant.uuid}}')" class="maps-button cuisine-button">Remove from Favorites</button>
            {% endif %}
        {% endif %}
    </div>

    <script>
        function mapsSelector() {
            if ((navigator.platform.indexOf("iPhone") != -1) || 
                (navigator.platform.indexOf("iPad") != -1) || 
                (navigator.platform.indexOf("iPod") != -1))
                    window.open("https://maps.apple.com/?q={{ restaurant.search | urlize }}");
            else
                window.open("https://maps.google.com/maps/search/?api=1&query={{ restaurant.g_search | urlize }}");
        }
    </script>
    {% comment %} <div class="map-container">
        <h3>Location</h3>
        <div id="map"></div>
    </div> {% endcomment %}

    <div class="reviews-section">
        <h3>Reviews</h3>
        {% if user.is_authenticated %}
        <form style="margin-bottom:20px;" method="post" novalidate>
            {% csrf_token %}
            <label for="rating-select">Rating</label>
            {{ form.rating }}
            <label for="review_text">Your Review</label>
            {{ form.review_text }}
            <button class="sub-button" type="submit">Submit Review</button>
        </form>
        {% endif %}
        {% for review in restaurant.reviews_set.all %}
            {% include "app/embed/review_card.html" %}
        {% empty %}
        <p>No reviews yet. Be the first to leave one!</p>
        {% endfor %}
        {% include "app/embed/pagination.html" %}
    </div>

</div>

{% comment %} 
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var map = L.map('map').setView([{{restaurant.lat}}, {{restaurant.long}}], 13); // Default center
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Geocode restaurant address
        fetch(`https://nominatim.openstreetmap.org/search?q={{ restaurant.name | urlize }} {{ restaurant.address | urlize }} {{ restaurant.city | urlize }} {{ restaurant.country | urlize }}&format=json&limit=1`)
            .then(response => response.json())
            .then(data => {
                console.warn(data)
                if (data.length > 0) {
                    var location = data[0];
                    var lat = location.lat;
                    var lon = location.lon;
                    map.setView([lat, lon], 15);
                    L.marker([lat, lon]).addTo(map).bindPopup("{{ restaurant.address }}").openPopup();
                } else {
                    L.marker([{{restaurant.lat}}, {{restaurant.long}}]).addTo(map).bindPopup("{{ restaurant.address }}").openPopup();
                }
            })
            .catch(error => console.error("Error fetching geocode data:", error));
    });
</script> {% endcomment %}
{% endblock content %}
