{% extends "layout.html" %}
{% block style %}
    .profile-container {
        width: 70%;
        padding: 20px;
        margin: 20px auto 160px;

        background: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    
    .profile-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .profile-header h1 {
        margin: 0;
        font-size: 2rem;
        color: #555;
    }

    .profile-section {
        margin-bottom: 20px;
    }

    .profile-section h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #666;
    }

    .profile-details {
        list-style: none;
        padding: 0;
    }

    .profile-details li {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .profile-details span {
        font-weight: bold;
        color: #555;
    }

    .favorites, .reviews {
        margin-bottom: 20px;
    }

    .favorites ul, .reviews ul {
        list-style: none;
        padding: 0;
    }

    .favorites ul li, .reviews ul li {
        margin-bottom: 10px;
        padding: 10px;
        background: #f1f1f1;
        border-radius: 5px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1rem;
        transition: background 0.3s ease;
    }

    .btn:hover {
        background: #45a049;
    }

    .edit-profile {
        text-align: center;
        margin-top: 20px;
    }
{% endblock style %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <h1>User Profile</h1>
    </div>

    <div class="profile-section">
        <h2>Personal Information</h2>
        <ul class="profile-details">
            
            <li><span>First Name:</span> {{user.first_name}}</li>
            <li><span>Last Name:</span> {{user.last_name}}</li>
            <li><span>Username:</span> {{user.username}}</li>
            <li><span>Email:</span> {{user.email}}</li>
        </ul>
    </div>

    <div class="profile-section favorites">
        <h2>Favorites</h2>
        <ul>
            {% for restaurant in res_obj %}
                {% include "app/embed/restaurant-card.html" %}
                {% if forloop.last or user.favorites.count == 1 %}
                    {% include "app/embed/pagination.html" with page_obj=res_obj var_name="page_res" %}
                {% endif %}
            {% empty %}
                <li>No Favorites Added</li>
            {% endfor %}
        </ul>
    </div>

    <div class="profile-section reviews">
        <h2>Reviews</h2>
        <ul>
            {% for review in rev_obj  %}
                {% include "app/embed/review_card.html" %}
                {% if forloop.last or user.reviews_set.count == 1 %}
                    {% include "app/embed/pagination.html" with page_obj=rev_obj var_name="page_rev"%}
                {% endif %}
            {% empty %}
                <li>No Reviews</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock content %}