{% extends "app/embed/layout.html" %}

{% block content %}
<style>
    .category-header {
        width: 70%;
        text-align: center;
        margin: 20px 0;
        padding: 10px;
        background: linear-gradient(135deg, #591c21, #8c1f28);
        color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .category-header h2 {
        font-size: 2rem;
        margin: 0;
    }

    .category-header h3 {
        font-size: 1.2rem;
        margin: 5px 0 0;
    }

    @media (max-width: 768px) {
        .category-header h2 {
            font-size: 1.5rem;
        }

        .category-header h3 {
            font-size: 1rem;
        }

    }

    @media (max-width: 480px) {
        .category-header {
            padding: 8px;
        }

        .category-header h2 {
            font-size: 1.2rem;
        }

        .category-header h3 {
            font-size: 0.9rem;
        }
    }
</style>

<div class="category-header">
    <h2>{{ name }}</h2>
    <h3>{{ description }}</h3>
</div>

<div class="restaurant-list">
    {% for restaurant in page_obj %}
        {% include "app/embed/restaurant-card.html" %}
    {% endfor %}
</div>

{% include "app/embed/pagination.html" %}

{% endblock content %}